.wrapper
  = render 'groups/side_bar'
  .chat-main
    .main-header
      .current-group
        %h2.current-group__name
          =@group.name
        %p.current-group__user
          member：本田、本間
      .edit-group
        = link_to edit_group_path(current_user) do
          .edit-group__btn Edit
    .main-body
      .messages
        = render partial: 'message', collection: @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'message-form', placeholder: 'type a message'
        .mask
          = f.label :image, class: 'message-form__mask' do
            = fa_icon 'picture-o', class: 'mask'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__send'
